@page
@attribute [Authorize(Roles = "Client")]
@using Microsoft.AspNetCore.Authorization
@{
    ViewData["Title"] = "Кабинет клиента";
}

<div class="container">
    <h1>Кабинет клиента</h1>
    
    <div class="row mt-4">
         <div class="col-md-4 mb-4">
            <div class="card text-center">
                <div class="card-body">
                    <i class="bi bi-box-seam" style="font-size: 3rem; color: #0d6efd;"></i>
                    <h4 class="card-title mt-3">Каталог</h4>
                    <p class="card-text">Просмотр товаров и услуг</p>
                    <div class="d-grid gap-2">
                        <a asp-page="/Catalog/Index" class="btn btn-primary">Перейти</a>
                    </div>
                </div>
            </div>
        </div>
        
       @*  <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h5>Мои заказы</h5>
                </div>
                <div class="card-body">
                    <p>История и текущие заказы</p>
                    <a href="#" class="btn btn-primary">Посмотреть</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h5>Запись на услуги</h5>
                </div>
                <div class="card-body">
                    <p>Записаться на консультацию</p>
                    <a href="#" class="btn btn-primary">Записаться</a>
                </div>
            </div>
        </div> *@
    </div>
</div>